In [3]:
%load_ext kedro.ipython

[02/14/24 15:48:50] INFO     Resolved project path as:                                              ]8;id=482706;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/ipython/__init__.py\__init__.py]8;;\:]8;id=386576;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/ipython/__init__.py#149\149]8;;\
                             /Users/mccoole/dev/github/analect-io/spaceflights.
                             To set a different path, run '%reload_kedro <project_root>'

[02/14/24 15:48:52] INFO     Kedro project spaceflights                                             ]8;id=768127;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/ipython/__init__.py\__init__.py]8;;\:]8;id=951512;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/ipython/__init__.py#119\119]8;;\

                    INFO     Defined global variable 'context', 'session', 'catalog' and            ]8;id=84507;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/ipython/__init__.py\__init__.py]8;;\:]8;id=232508;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/ipython/__init__.py#120\120]8;;\
                             'pipelines'

[02/14/24 15:48:53] INFO     Registered line magic 'run_viz'                                        ]8;id=589224;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/ipython/__init__.py\__init__.py]8;;\:]8;id=909673;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/ipython/__init__.py#126\126]8;;\

In [6]:
catalog

<kedro.io.data_catalog.DataCatalog object at 0x1282c29e0>

In [7]:
companies = catalog.load("companies")
companies.head()

[02/14/24 15:57:30] INFO     Loading data from companies (CSVDataset)...                        ]8;id=593095;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=419795;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/io/data_catalog.py#483\483]8;;\

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100%,Isle of Man,1.0,f
1,46728,100%,NaN,1.0,f
2,34618,38%,Isle of Man,1.0,f
3,28619,100%,Bosnia and Herzegovina,1.0,f
4,8240,NaN,Chile,1.0,t

In [8]:
companies.dtypes

id                     int64
company_rating        object
company_location      object
total_fleet_count    float64
iata_approved         object
dtype: object

In [9]:
companies["iata_approved"] = companies["iata_approved"] == "t"

In [10]:
companies.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100%,Isle of Man,1.0,False
1,46728,100%,NaN,1.0,False
2,34618,38%,Isle of Man,1.0,False
3,28619,100%,Bosnia and Herzegovina,1.0,False
4,8240,NaN,Chile,1.0,True

In [11]:
companies.dtypes

id                     int64
company_rating        object
company_location      object
total_fleet_count    float64
iata_approved           bool
dtype: object

In [12]:
companies["company_rating"] = companies["company_rating"].str.replace("%","").astype(float)

In [13]:
companies.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100.0,Isle of Man,1.0,False
1,46728,100.0,NaN,1.0,False
2,34618,38.0,Isle of Man,1.0,False
3,28619,100.0,Bosnia and Herzegovina,1.0,False
4,8240,NaN,Chile,1.0,True

In [15]:
companies.dtypes

id                     int64
company_rating       float64
company_location      object
total_fleet_count    float64
iata_approved           bool
dtype: object

In [16]:
shuttles = catalog.load("shuttles")
shuttles.head()

[02/14/24 16:04:21] INFO     Loading data from shuttles (ExcelDataset)...                       ]8;id=339919;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=40663;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/io/data_catalog.py#483\483]8;;\

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,f,f,"$1,715.0",32413
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,f,f,"$3,405.0",14122
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,t,f,"$1,806.0",47761
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,f,f,"$1,676.0",26648
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,f,f,"$4,718.0",26648

In [17]:
shuttles.iloc[:, 5:]

,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,2.0,4,moderate,2.0,f,f,"$1,715.0",32413
1,3.0,5,moderate,3.0,f,f,"$3,405.0",14122
2,1.0,2,strict,1.0,t,f,"$1,806.0",47761
3,1.0,2,moderate,1.0,f,f,"$1,676.0",26648
4,5.0,10,strict,5.0,f,f,"$4,718.0",26648
...,...,...,...,...,...,...,...,...
15526,1.0,2,flexible,1.0,t,f,"$2,040.0",5816
15527,1.0,1,strict,1.0,t,f,"$1,260.0",19010
15528,2.0,4,flexible,2.0,t,f,"$4,107.0",6654
15529,1.0,2,flexible,1.0,t,f,"$2,170.0",27363
15530,0.0,2,moderate,2.0,t,f,"$1,455.0",12542

In [18]:
shuttles.dtypes

id                           int64
shuttle_location            object
shuttle_type                object
engine_type                 object
engine_vendor               object
engines                    float64
passenger_capacity           int64
cancellation_policy         object
crew                       float64
d_check_complete            object
moon_clearance_complete     object
price                       object
company_id                   int64
dtype: object

In [19]:
shuttles["d_check_complete"] = shuttles["d_check_complete"] == "t"
shuttles["moon_clearance_complete"] = shuttles["moon_clearance_complete"] == "t"
shuttles["price"] = shuttles["price"].str.replace("$","").str.replace(",", "").astype(float)

In [20]:
shuttles.dtypes

id                           int64
shuttle_location            object
shuttle_type                object
engine_type                 object
engine_vendor               object
engines                    float64
passenger_capacity           int64
cancellation_policy         object
crew                       float64
d_check_complete              bool
moon_clearance_complete       bool
price                      float64
company_id                   int64
dtype: object

In [21]:
reviews = catalog.load("reviews")
reviews.head()

[02/14/24 19:02:40] INFO     Loading data from reviews (CSVDataset)...                          ]8;id=398020;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=556781;file:///Users/mccoole/micromamba/envs/spaceflights310/lib/python3.10/site-packages/kedro/io/data_catalog.py#483\483]8;;\

,shuttle_id,review_scores_rating,review_scores_comfort,review_scores_amenities,review_scores_trip,review_scores_crew,review_scores_location,review_scores_price,number_of_reviews,reviews_per_month
0,45163,91.0,10.0,9.0,9.0,9.0,9.0,9.0,26,0.77
1,49438,96.0,10.0,10.0,10.0,10.0,10.0,9.0,61,0.62
2,10750,97.0,10.0,10.0,10.0,10.0,10.0,10.0,467,4.66
3,4146,95.0,10.0,10.0,10.0,10.0,9.0,9.0,318,3.22
4,5067,97.0,10.0,9.0,10.0,10.0,9.0,10.0,22,0.29

We first want to merge reviews and shuttles tables

In [22]:
rated_shuttles = shuttles.merge(reviews, left_on="id", right_on="shuttle_id")
rated_shuttles.head()

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,...,shuttle_id,review_scores_rating,review_scores_comfort,review_scores_amenities,review_scores_trip,review_scores_crew,review_scores_location,review_scores_price,number_of_reviews,reviews_per_month
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,False,...,45163,91.0,10.0,9.0,9.0,9.0,9.0,9.0,26,0.77
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,False,...,49438,96.0,10.0,10.0,10.0,10.0,10.0,9.0,61,0.62
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,True,...,10750,97.0,10.0,10.0,10.0,10.0,10.0,10.0,467,4.66
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,False,...,4146,95.0,10.0,10.0,10.0,10.0,9.0,9.0,318,3.22
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,False,...,5067,97.0,10.0,9.0,10.0,10.0,9.0,10.0,22,0.29

In [23]:
rated_shuttles.columns

Index(['id', 'shuttle_location', 'shuttle_type', 'engine_type',
       'engine_vendor', 'engines', 'passenger_capacity', 'cancellation_policy',
       'crew', 'd_check_complete', 'moon_clearance_complete', 'price',
       'company_id', 'shuttle_id', 'review_scores_rating',
       'review_scores_comfort', 'review_scores_amenities',
       'review_scores_trip', 'review_scores_crew', 'review_scores_location',
       'review_scores_price', 'number_of_reviews', 'reviews_per_month'],
      dtype='object')

In [24]:
companies.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100.0,Isle of Man,1.0,False
1,46728,100.0,NaN,1.0,False
2,34618,38.0,Isle of Man,1.0,False
3,28619,100.0,Bosnia and Herzegovina,1.0,False
4,8240,NaN,Chile,1.0,True

We are going to merge the newly created `rated_shuttles` with the `companies` table.

In [25]:
model_input_table = rated_shuttles.merge(companies, left_on="company_id", right_on="id")
model_input_table.head()

,id_x,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,...,review_scores_crew,review_scores_location,review_scores_price,number_of_reviews,reviews_per_month,id_y,company_rating,company_location,total_fleet_count,iata_approved
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,False,...,9.0,9.0,9.0,26,0.77,32413,100.0,Faroe Islands,1.0,False
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,False,...,10.0,10.0,9.0,61,0.62,14122,100.0,Malta,1.0,True
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,True,...,10.0,10.0,10.0,467,4.66,47761,100.0,Niue,2.0,False
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,False,...,10.0,9.0,9.0,318,3.22,26648,100.0,Niue,2.0,True
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,False,...,10.0,9.0,10.0,22,0.29,26648,100.0,Niue,2.0,True

In [26]:
model_input_table.dropna()

,id_x,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,...,review_scores_crew,review_scores_location,review_scores_price,number_of_reviews,reviews_per_month,id_y,company_rating,company_location,total_fleet_count,iata_approved
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,False,...,9.0,9.0,9.0,26,0.77,32413,100.0,Faroe Islands,1.0,False
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,False,...,10.0,10.0,9.0,61,0.62,14122,100.0,Malta,1.0,True
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,True,...,10.0,10.0,10.0,467,4.66,47761,100.0,Niue,2.0,False
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,False,...,10.0,9.0,9.0,318,3.22,26648,100.0,Niue,2.0,True
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,False,...,10.0,9.0,10.0,22,0.29,26648,100.0,Niue,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15169,29334,Sao Tome and Principe,Type V7,Quantum,ThetaBase Services,1.0,3,flexible,1.0,True,...,10.0,8.0,10.0,2,2.00,46943,94.0,Peru,2.0,False
15183,49839,Rwanda,Type V5,Nuclear,"Banks, Wood and Phillips",1.0,1,flexible,1.0,True,...,10.0,10.0,10.0,2,2.00,2878,93.0,Bosnia and Herzegovina,3.0,True
15199,59798,Bouvet Island (Bouvetoya),Type V5,Plasma,ThetaBase Services,0.0,7,strict,4.0,True,...,10.0,10.0,10.0,3,3.00,8409,98.0,Maldives,9.0,False
15255,20330,Uzbekistan,Type V5,Quantum,ThetaBase Services,1.0,2,flexible,1.0,False,...,10.0,10.0,10.0,1,1.00,5701,100.0,Costa Rica,1.0,True
15265,16445,Nicaragua,Type V5,Plasma,ThetaBase Services,1.0,1,flexible,3.0,False,...,10.0,10.0,10.0,3,3.00,13728,100.0,Pakistan,1.0,False